	.login-main,
	.register-main {
		height: 88.15vh !important;
	}

	.login-first,
	.register-first {
		display: none;
	}

	.login-second,
	.register-second {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.pass-area {
		position: relative;
	}

	@media (min-width: 1439px) {
		.login-first,
		.register-first {
			width: 65%;
			display: block;
		}

		.login-first img,
		.register-first img {
			width: 100%;
			height: 100%;
		}

		.login-second,
		.register-second {
			width: 35%;
		}

	}